{% block user_profile_footer %}
    <link rel="stylesheet" href="/static/css/video-list.css">
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <h1>{{ user.username }}</h1>
    <div class="card-container">
        {% for video in videos %}
            <div class="card">
                <div class="video-container" >
                    <video
                            id="video{{ video.id }}"
                            class="video-js"
                            controls
                            preload="auto"
                            muted
                            data-setup="{}"
                            {#                            Style =“object-fit: contain;“#}
                    >
                        <source src="{{ video.video_url }}" type="video/mp4" />
                    </video>
                    <h2 class="card-title">{{ video.title | safe }}</h2>
                </div>
                <div class="card-footer">
                    Posted by: <strong>{{ video.user.fetch().username }}</strong>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <!-- Load the YouTube IFrame API script -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- Load your custom JavaScript file -->
    <script src="/js/user/video/video_list.js"></script>
{% endblock %}