{% extends "user/layout.html" %}
{% block user_content %}
    <link rel="stylesheet" href="/static/css/video-record.css">
    <h2>Record Video</h2>
    <div class="grid-container">
        <div class="btn-group">
            <button id="startButton" disabled>Start Recording</button>
            <button id="stopButton" disabled>Stop Recording</button>
        </div>
{#        <video id="video" width="1080" height="800" autoplay></video>#}
        <div class="video-container">
            <video id="video" width="1080" height="800" autoplay></video>
            <div id="lyricsContainer" class="lyrics-overlay"></div>  <!-- Lyrics container -->
        </div>
        <div id="details">
            <input type="text" id="title" placeholder="Tiêu đề video" required>
            <!-- Music search field -->
            <input type="text" id="musicSearch" placeholder="Nhập tên bài hát" autocomplete="off">
            <button id="searchButton" onclick="searchMusic()">Search</button>
            <ul id="musicResults">
{#                {% for music in music_data %}#}
{#                    <li onclick="selectMusic({{ music.id }})">{{ music.name }}>{{ music.name }} by {{ music.artists }}</li>#}
{#                {% endfor %}#}
            </ul> <!-- Results will appear here -->

            <input type="hidden" id="selectedMusicId">
            <button id="uploadButton" onclick="uploadVideo()">Upload Video</button>
        </div>
        <audio id="musicPlayer" controls style="display: none;"></audio>
    </div>
    <script src="/js/user/video/video_record.js"></script>
{% endblock %}