<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOURTUBE</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/static/image/kara.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <script src="/static/dist/js/axios.min.js"></script>
    <script src="/static/dist/js/jquery.min.js"></script>
    <script src="/static/dist/js/socket.io.min.js"></script>
    <script src="/static/js/base.js/"></script>
    <script src="/static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap" rel="stylesheet">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-pV7X4nJ3AwPF3cbxVqZ0f/Kn6wvVrEQ7UgB/azlT/ik+lrbFhGfQ7v3E7bXGln0KQF3qvjgZgIlbBTj1+hkRVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body class="d-flex min-vh-100 bg-light">
{% include 'components/alert-modal.html' %}
{% block content %}


{% endblock %}
<script src="/static/dist/js/popper.min.js"></script>
</body>
</html>