<div class="d-flex align-items-center">
        <button onclick="toggleSidebar()" id="sidebarToggle" class="btn btn-link me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <a href="/admin/index" class="btn btn-danger">YOURTUBE</a>
</div>
<div class="d-flex align-items-center justify-content-center flex-grow-1 max-w-xl">
        <div class="position-relative" style="width: 500px;"> <!-- Set a fixed width -->
            <input type="text" placeholder="Search..."
                   class="form-control pe-5"
                   id="search_bar">
            <button class="btn btn-link position-absolute end-0 top-50 translate-middle-y text-secondary">
                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                          clip-rule="evenodd"/>
                    <path fill-rule="evenodd"
                          d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                          clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
        <div class="ms-2">
            <button class="btn btn-light rounded-circle d-flex align-items-center justify-content-center"
                    style="width: 40px; height: 40px;"
                    onclick="voice()">
                <svg class="bi bi-mic" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3.5 6.5A.5.5 0 014 7v1a4 4 0 008 0V7a.5.5 0 011 0v1a5 5 0 01-4.5 4.975V15h3a.5.5 0 010 1h-7a.5.5 0 010-1h3v-2.025A5 5 0 013 8V7a.5.5 0 01.5-.5z"
                          clip-rule="evenodd"/>
                    <path fill-rule="evenodd"
                          d="M10 8V3a2 2 0 10-4 0v5a2 2 0 104 0zM8 0a3 3 0 00-3 3v5a3 3 0 006 0V3a3 3 0 00-3-3z"
                          clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center">
        {% if session['user'] %}
            <div class="dropdown">
                <button id="dropdownButton" class="btn btn-link d-flex align-items-center text-decoration-none"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="me-2">{{ session['user']['name'] }}</span>
                    <img src="{{ url_for('static', filename='image/1.jpg') }}" alt="User Avatar"
                         class="rounded-circle" style="width: 32px; height: 32px;">
                </button>
                <ul id="dropdownMenu" class="dropdown-menu dropdown-menu-end d-block d-none">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <button id="login-button" data-bs-toggle="modal" data-bs-target="#login-popup"
                    class="btn btn-primary" type="button">
                Login
            </button>
        {% endif %}
    </div>
<script src="/static/js/topbar.js"></script>